<span onclick="document.getElementById('id01').style.display='none'" class="signup-close animate" title="Close Menu">&times;</span>
<form class="modal-content animate">
  <div class="signup-container">
    <h1>Sign Up</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" class="signup-input" required>
    
    <label for="passwd"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="passwd" class="signup-passwd" required>

    <label for="passwd-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="passwd-repeat" required>

    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
    
    <p>By creating an account you agree to the Terms & Privacy</p>
    
    <div class="clearfix">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="signupcancelbtn">Cancel</button>
      <button type="submit" class="signupbtn">Sign Up</button>
    </div>
  </div>
</form>
